body {
  font-family: Palatino;
  background-color: green;
}

#form-wrapper {
  width: 100%;
  display:inline-table;
  flex-direction: row;
}

.form-item {
  margin-right: 1.8rem;
}

label.primary {
  display: block;
  margin: 0.4em 0;
}

label::after {
  content: ":";
}

button, input[type="submit"] {
  margin-top: 1rem;
}

#competitor-list {
  display: inline-table;
  flex-wrap: wrap;
  list-style-type: none;
}

.competitor-list {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 2px solid maroon;
  border-radius: 5%;
  background: wheat;
}
